.project img { float: right; width: 250px; padding-left: 12px; }
.project video { float: right; width: 250px; padding-left: 12px; }
.project { max-width: 640px; min-height: 350px; margin-bottom: 100px; }
.project h3 { background: #f0f0f0; font-weight: normal; text-align: center; padding: 16px; }
@media screen and (max-width: 600px){
.project img { width: 100%; margin-bottom: 12px; }
.project video { width: 100%; margin-bottom: 12px; }
body { margin: 12px; }
}
