.profile { padding: 16px 64px 16px 64px; }
.profile h1 { font-size: 120%; font-weight: bold; text-align: left; }

.project span {
    color: #aaa;
    float: left;
    font-style: normal;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 90%;
}

.project a {
    color: #333;
    background: #F5F5F0;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 8px;
    text-decoration: none;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
}
.project a:hover { background: #fff; color: #ad2818; }

/*desktop*/
.project img { float: left; width: 300px; padding-right: 12px; }
.project video { float: left; width: 300px; padding-right: 12px; }
.project { border: 1px solid #fff; min-height: 350px; margin-bottom: 100px; }
.project p { font-size: 90%; text-align: justify; }
.project h3 { text-align: right; font-weight: normal; font-style: italic; margin-top: 0; }

/*mobile*/
/*.project img { width: 100%; }
.project video { width: 100%;}
.project { margin-left: 12px; margin-right: 12px; min-height: 350px; margin-bottom: 100px; }
.project p { text-align: justify; }
.project h3 { text-align: center; font-weight: normal; font-style: italic; margin-top: 0; }
.project span { display: none; }
.project a { margin-bottom: 12px; display: block; width: 90%; text-align: center; }*/
