body {
	margin: 0 auto;
	width: 720px;
	padding: 20px;
}

#wrapper {
	font-family: fixedsys;
	font-weight: bold;
	background: #775545;
	color: #ffefef;
	letter-spacing: 1px;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
}

#wrapper h1 { font-size: 12px; }
#wrapper a { color: #ffefef; text-decoration: none; }
#wrapper a:focus { outline: 0; }
#wrapper a:hover { color: #fc7c73; }

#home {
	background: #775545;
	font-size: 12px;
	min-height: 800px;
	line-height: 20px;
}

#project {
	padding-bottom: 10px;
	font-family: "PT Serif";
	font-size: 16px;
	line-height: 20px;
	background: #fff;
	color: #553325;
}

#disqus_thread {
  width: 100%;
  color: #8f6d3d;
}
#disqus_thread .column {
	padding: 24px 24px; 
}
#disqus_thread .column a.dsq-subscribe-email em, #disqus_thread .column a.dsq-subscribe-rss em {
  text-decoration: none; 
}
#disqus_thread a {
    color: #cc8c33;
    text-decoration: none; 
}
#disqus_thread a:hover {
    color: #f0bd75; 
}
.dsq-comment-text blockquote {
  padding-left: 16px;
  color: #777; 
}
#project img { max-width: 720px; display: block; margin: 0 auto; }
#project a { text-decoration: none; color: #fc7c73; }
#project a:focus { outline: 0; }
#project a:hover { color: #FC7C73; }

.project_tile {
	width: 200px;
	height: 133px;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
	font-family: fixedsys, sans-serif;
	letter-spacing: 1px;
	color: #ffefef;
}

.project_tile h1 { font-size: 12px; margin-top: -5px; font-weight: bold; }
.project_tile img { width: 200px; height: 133px; }

/**************************/
/*			Code 		  */
/**************************/

pre {
	padding-left: 10px;
	padding-right: 10px;
}

pre code {
	display: block; 
	padding: 0.5em;
	border-radius: 3px;
	color: #444;
	background: #F5F8FA;
}

code {
	border-radius: 3px;
	font-family: "Source Code Pro";
	font-size: 13px;
	height: auto;
	width: auto;
	max-width: 700px;
	margin: 0 auto;
    overflow: auto;
}