body      { max-width: 500px; margin: 0 auto; font-family: arial,sans-serif; font-size: 90%; padding-top: 1em; }
p         { line-height: 150%; }
.post     { display: flex; padding-bottom: .5em;}
.date     { font-style:italic; width: 5em; text-align: right; padding-right: .5em;}
.footer   { display:flex; flex-direction:row; justify-content:space-between; padding-top: 1em; padding-bottom: 1em; }
a         { text-decoration:none; border-bottom: 1px solid #ddd; }
a:link    { color: #000; }
a:visited { color: #880088; }
a:hover   { color: #E44F46; }
pre, code { font-family: "Source Code Pro","Consolas",monospace; background: #FAF8F5; }
pre       { font-size: 12px; padding: 8px; border-radius: 10px; }
code      { font-size: 12px; color: #333; }
h1,h2     { border-bottom: 2px solid #FAF8F5; }
h1        { font-size: 150%; text-align: center; font-weight: normal; }
h2        { font-size: 110%; padding-top: 2em; }
